.breadcrumbs
  .container
    %h1.pull-left
      = @category.name.html_safe rescue ""
    %ul.pull-right.breadcrumb
      %li
        
        %a{href: root_path}
          %i.icon-home

      %li 
        = link_to "Línea de Productos", root_path
          
      %li.active
        Future X

/ .row.margin-bottom-40
/ .col-md-12
/ #slide-wrapper
/ #banner
/ .oneByOne_item
/ =image_tag "slider1.jpg"

/ .oneByOne_item
/ =image_tag "slider2.jpg"

.purchase
  .container
    .row
      .col-md-12
        %p
          = @category.description.html_safe rescue ""

.container
  - products(4).each do |x|
    .search-blocks.search-blocks-top-sea.margin-bottom-20
      .row
        .col-md-4.search-img
          %a{href: "#"}
            = image_tag x.logo_url(:logo), :class => "img-responsive" if x.logo
        .col-md-8
          %h2
            %a{href: product_path(x)}
              = x.name.html_safe rescue ""
          %p
            = x.description.html_safe rescue ""