.banner.margin-bottom-20
  %ul
    - @slider_images.each do |x|
      %li
        = image_tag "#{x.image_url(:main_slider)}", :class => "img-responsive main-slider", :style => "min-height: 200px;"

/- @gallery_images.each do |image|
/%li
/= image_tag "#{image.image_url}", :class => "img-responsive main-slider", :style => "min-height: 200px;"


.container
  .col-md-4
    %a{href: milling _path}
      .service
        .desc
          %h4.center
            = @sections[0].title.html_safe
          %p.center
            = @sections[0].body.html_safe

  .col-md-4
    %a{href: transitions_path}
      .service
        .desc
          %h4.center
            = @sections[1].title.html_safe
          %p.center
            = @sections[1].body.html_safe

  .col-md-4
    %a{href: futurex_path}
      .service
        .desc
          %h4.center
            = @sections[2].title.html_safe
          %p.center
            = @sections[2].body.html_safe




- if @products.count > 6
  .container
    #clients-flexslider.flexslider.home.clients
      .headline
      %ul.slides
        - @products.each do |x|
          - if !x.logo.nil?
            %li
              %a{href: product_path(x)}
                =image_tag(x.logo_url(:small), :class => "grayscale img-responsive", alt: "" )
                =image_tag(x.logo_url(:small), :class => "color-img img-responsive", alt: "")
  %br


:javascript

  if(window.chrome) {
    $('.banner li').css('background-size', '100% 100%');
  }

  $('.banner').unslider({
    fluid: true,
    dots: true,
    speed: 1000
  });

  //  Find any element starting with a # in the URL
  //  And listen to any click events it fires
  $('a[href^="#"]').click(function() {
    //  Find the target element
    var target = $($(this).attr('href'));

    //  And get its position
    var pos = target.offset(); // fallback to scrolling to top || {left: 0, top: 0};

    //  jQuery will return false if there's no element
    //  and your code will throw errors if it tries to do .offset().left;
    if(pos) {
      //  Scroll the page
      $('html, body').animate({
        scrollTop: pos.top,
        scrollLeft: pos.left
      }, 1000);
    }

    //  Don't let them visit the url, we'll scroll you there
    return false;
  });

  var GoSquared = {acct: 'GSN-396664-U'};

