.breadcrumbs
  .container
    %h1.pull-left
      = @category.name.html_safe rescue ""
    %ul.pull-right.breadcrumb
      %li

        %a{href: root_path}
          %i.icon-home

      %li
        Línea de Productos

      %li.active
        Materiales

/ .row.margin-bottom-40
/ .col-md-12
/ #slide-wrapper
/ #banner
/ .oneByOne_item
/ =image_tag "slider1.jpg"

/ .oneByOne_item
/ =image_tag "slider2.jpg"
- if !@category.description.nil?
  .purchase
    .container
      .row
        .col-md-12
          %p
            = @category.description.html_safe rescue ""
%br
.container
  - products(5).each do |x|
    .search-blocks.search-blocks-top-sea.margin-bottom-20
      .row
        %a{href: product_path(x)}
          - if !x.logo_url(:logo).nil?
            .col-md-7.col-md-offset-1
              %h2
                = x.name.html_safe rescue ""
              %p
                = x.description.html_safe rescue ""
            .col-md-3.search-img
              = image_tag x.logo_url(:logo), :class => "img-responsive"
          - else
            .col-md-7.col-md-offset-1
              %h2
                = x.name.html_safe rescue ""
              %p
                = x.description.html_safe rescue ""