.breadcrumbs.margin-bottom-40
  .container
    %h1.pull-left
      Materiales
    %ul.pull-right.breadcrumb
      %li
        
        %a{href: root_path}
          %i.icon-home

      %li 
        = link_to "Línea de Productos", root_path
          
      %li.active
        Materiales

.row.margin-bottom-40
  .col-md-12
    #slide-wrapper
      #banner
        .oneByOne_item
          =image_tag "slider1.jpg"

        .oneByOne_item
          =image_tag "slider2.jpg"

.purchase
  .container
    .row
      .col-md-12
        %span
          Materiales y marcas usadas por Ocutec
        %p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.

.container
  .search-blocks.search-blocks-top-sea.margin-bottom-20
    .row
      .col-md-4.search-img
        %a{href: "#"}
          = image_tag "transitions.jpg", :class => "img-responsive"
      .col-md-8
        %h2
          %a{href: "#"}
            Airwear
        %p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.

  .search-blocks.search-blocks-top-sea.margin-bottom-20
    .row
      .col-md-4.search-img
        %a{href: "#"}
          = image_tag "transitions.jpg", :class => "img-responsive"
      .col-md-8
        %h2
          %a{href: "#"}
            Orma
        %p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.

  .search-blocks.search-blocks-top-sea.margin-bottom-20
    .row
      .col-md-4.search-img
        %a{href: "#"}
          = image_tag "transitions.jpg", :class => "img-responsive"
      .col-md-8
        %h2
          %a{href: "#"}
            Transitions
        %p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.

  .search-blocks.search-blocks-top-sea.margin-bottom-20
    .row
      .col-md-4.search-img
        %a{href: "#"}
          = image_tag "transitions.jpg", :class => "img-responsive"
      .col-md-8
        %h2
          %a{href: "#"}
            Future X
        %p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.

  .search-blocks.search-blocks-top-sea.margin-bottom-20
    .row
      .col-md-4.search-img
        %a{href: "#"}
          = image_tag "transitions.jpg", :class => "img-responsive"
      .col-md-8
        %h2
          %a{href: "#"}
            High Index 1.67
        %p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.

  .search-blocks.search-blocks-top-sea.margin-bottom-20
    .row
      .col-md-4.search-img
        %a{href: "#"}
          = image_tag "transitions.jpg", :class => "img-responsive"
      .col-md-8
        %h2
          %a{href: "#"}
            Xperio
        %p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.
    