.breadcrumbs
  .container
    %h1.pull-left
      = @category.name.html_safe rescue ""
    %ul.pull-right.breadcrumb
      %li

        %a{href: root_path}
          %i.icon-home

      %li
        Línea de Productos

      %li.active
        Lentes Xperio

- if !@category.description.nil?
  .purchase
    .container
      .row
        .col-md-12
          %p
            = @category.description.html_safe rescue ""
%br
.container
  - products(8).each do |x|
    .search-blocks.search-blocks-top-sea.margin-bottom-20
      .row
        - if !x.logo_url(:logo).nil?
          .col-md-7.col-md-offset-1
            %h2
              %a{href: product_path(x)}
                = x.name.html_safe rescue ""
            %p
              = x.description.html_safe rescue ""
          .col-md-3.search-img
            %a{href: product_path(x)}
              = image_tag x.logo_url(:logo), :class => "img-responsive"
        - else
          .col-md-12
            %h2
              %a{href: product_path(x)}
                = x.name.html_safe rescue ""
            %p
              = x.description.html_safe rescue ""

