.row
  .col-sm-12
    .page-header
      %h1.pull-left
        %i.icon-group
        %span
          Solicitudes
      .pull-right
        %ul.breadcrumb
          %li
            %a{href: admin_dashboard_path}
              %i.icon-bar-chart
              
          %li.separator
            %i.icon-angle-right
          %li.active
            Solicitudes
.row
  .col-sm-12
    .box.bordered-box.blue-border
      .box-header.blue-background
        .title
          Solicitudes
      .box-content.box-no-padding
        .responsive-table
          .scrollable-area
            %table.data-table.table.table-bordered.table-striped{style: 'margin-bottom:0;'}
              %thead  
                %tr
                  %th
                    Empresa
                  %th
                    RUC
                  %th
                    Contacto
                  %th
                    Teléfono
                  %th
                    Teléfono alt.
                  %th
                    Acciones
              %tbody
                - access_requests.each do |x|
                  %tr{id: x.id}
                    %td= x.company
                    %td= x.legal_code
                    %td= x.contact
                    %td= x.phone_1
                    %td= x.phone_2
                    %td
                      = #link_to "Show", admin_user_path(x),      :class => "btn btn-info btn-xs"
                      