.row
  .col-sm-12
    .page-header
      %h1.pull-left
        %i.icon-group
        %span
          Administradores
      .pull-right
        %ul.breadcrumb
          %li
            %a{href: admin_dashboard_path}
              %i.icon-bar-chart
              
          %li.separator
            %i.icon-angle-right
          %li.active
            Administradores
.row{"ng-app" => ""}
  .col-sm-12
    .box.bordered-box.blue-border
      .box-header.blue-background
        .title
          Administradores
      .box-content.box-no-padding
        .responsive-table
          .scrollable-area
            %table.data-table.table.table-bordered.table-striped{style: 'margin-bottom:0;'}
              %thead  
                %tr
                  %th
                    Nombre
                  %th
                    Apellido
                  %th
                    E-mail
                  %th
                    Teléfono
                  %th
                    Acciones
              %tbody
                - administrators.each do |x|
                  %tr
                    %td
                      %span{"ng-hide"=>"editing", "ng-click"=>"editing = true"}
                        = x.first_name
                        | {{user.firstName}} 
                      %form{"ng-show"=>"editing", "ng-submit"=>"editing = false"}
                        .col-xs-7
                          %input{type: "text", "ng-model"=>"user.firstName", "ng-required"=>""}
                          %button.btn{type: "submit"}
                            Save
                        
                    %td= x.last_name
                    %td= x.email
                    %td= x.phone
                    %td
                      = link_to "Show", admin_user_path(x),      :class => "btn btn-info btn-xs"
                      = link_to "Edit", edit_admin_user_path(x), :class => "btn btn-warning btn-xs"







.row
  .col-sm-12
    = link_to "Crear", new_admin_user_path, :class => "btn btn-success"