%meta{content: "2", name: "page_id"}
.row
  .col-sm-12
    .page-header
      %h1.pull-left
        %i.icon-edit
        %span
          Contenido
      .pull-right
        %ul.breadcrumb
          %li
            %a{href: admin_root_path}
              %i.icon-bar-chart
          %li.separator
            %i.icon-angle-right
          %li
            Contenido
          %li.separator
            %i.icon-angle-right
          %li.active
            Inicio

.row
  .col-sm-12
    .box.bordered-box.blue-border
      .box-header.blue-background
        .title
          %i.icon-edit
          Editar Secciones
      .box-content.box-double-padding
        = form_tag admin_update_home_path, :html => {:class => "form", :multipart => true} do 
          
          %fieldset
            - counter = 0
            - @sections.each do |x|
              - counter += 1
              .row
                .col-sm-2
                  %h3.text-primary
                    = "Sección #{counter}"
                .col-sm-8
                  .form-group
                    = label_tag "Nombre"
                    = text_field_tag "section[#{x.id}][title]", x.title, :class => "form-control"
                  .form-group
                    = label_tag "Descripción"
                    = text_area_tag("section[#{x.id}][body]", x.body, rows: '10', :class => "form-control wysihtml5", id: "body")
                %hr


          .form-actions
            .row 
              .col-sm-7.col-sm-offset-5
                = submit_tag "Guardar", :class => "btn btn-primary btn-lg"