.row
  .col-sm-12
    .page-header
      %h1.pull-left
        %i.icon-group
        %span
          = @category.name
      .pull-right
        = link_to "Editar Página", "/admin/edit_section/#{@category.id}", :class => "btn btn-info"

.row
  .col-sm-12
    .box.bordered-box.blue-border
      .box-header.blue-background
        .title
          Productos
        .actions
          %a{href: new_admin_product_path(category_id: @category.id), :class => "btn btn-xs btn-link"}
            %i.icon-plus
            %span
              Agregar
      .box-content.box-no-padding
        .responsive-table
          .scrollable-area
            %table.data-table.table.table-bordered.table-striped{style: 'margin-bottom:0;'}
              %thead
                %tr
                  %th Nombre
                  %th Categoría
                  %th Fecha de Creación
                  %th Fecha de Actualización
                  %th Acciones
              %tbody
                - products(@category.id).each do |x|
                  %tr{id: x.id}
                    %td= x.name
                    %td= x.category.name
                    %td= x.created_at
                    %td= x.updated_at
                    %td
                      %a{href: edit_admin_product_path(x), :class => "btn btn-xs"}
                        %i.icon-edit
