!!! 5
/[if IE 8]
  %html{lang: "en", :class => "ie8"} 
/[if IE 9]
  %html{lang: "en", :class => "ie9"}
/[if !IE]
  %html{lang: "en"} 
%html
  %head
    %title Admin Ocutec
    %meta{content: 'width=device-width', 'initial-scale' => 1, 'maximum-scale' => 1, 'user-scalable' => 'no', name: 'viewport'}
    %meta{content: 'text/html;charset=utf-8', 'http-equiv' => 'content-type'}
    = favicon_link_tag
    = stylesheet_link_tag    "admin/application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "admin/application", "data-turbolinks-track" => true
    = csrf_meta_tags

    /[if lt IE 9]
      = javascript_include_tag "admin/ie/html5shiv.js", "data-turbolinks-track" => true
      = javascript_include_tag "admin/ie/respond.min.js", "data-turbolinks-track" => true
    %body.contrast-sea-blue
      %header
        %nav.navbar.navbar-default
          %a.navbar-brand{href: 'index.html'}
            %h3
              Ocutec
            =# image_tag("ocutec.jpg", class: "logo", alt: "Ocutec")
            =# image_tag("ocutec.jpg", class: "logo-xs", alt: "Ocutec")

          %a.toggle-nav.btn.pull-left{href: '#'}
            %i.icon-reorder
          
          %ul.nav
            %li.dropdown.light.only-icon
              %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                %i.icon-cog
              
              %ul.dropdown-menu.color-settings
                %li.color-settings-body-color
                  .color-title
                    Body color
                  %a{'data-change-to' => 'assets/stylesheets/light-theme.css', href: '#'}
                    Light
                    %small
                      (default)
                  
                  %a{'data-change-to' => 'assets/stylesheets/dark-theme.css', href: '#'}
                    Dark
                  
                  %a{'data-change-to' => 'assets/stylesheets/dark-blue-theme.css', href: '#'}
                    Dark blue
                         
                %li.divider
                %li.color-settings-contrast-color
                  .color-title
                    Contrast color
                  %a{"data-change-to" => "contrast-red", href: "#"}
                    %i.icon-cog.text-red
                    Red
                    %small
                      (default)    
                  %a{'data-change-to' => "contrast-blue", href: "#"}
                    %i.icon-cog.text-blue
                    Blue 
                  %a{'data-change-to' => "contrast-orange", href: "#"}
                    %i.icon-cog.text-orange
                    Orange    
                  %a{'data-change-to' => "contrast-purple", href: "#"}
                    %i.icon-cog.text-purple
                    Purple
                  %a{'data-change-to' => "contrast-green", href: "#"}
                    %i.icon-cog.text-green
                    Green
                  
            %li.dropdown.medium.only-icon.widget
              %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                %i.icon-rss
                .label
                  5
              %ul.dropdown-menu
                %li
                  %a{href: '#'}
                    .widget-body
                      .pull-left.icon
                        %i.icon-user.text-success
                      .pull-left.text
                        John Doe signed up
                        %small.text-muted
                          just now

                %li.divider
                %li
                  %a{href: '#'}
                    .widget-body
                      .pull-left.icon
                        %i.icon-inbox.text-error
                      
                      .pull-left.text
                        New Order #002
                        %small.text-muted
                          3 minutes ago
           
                %li.divider
                %li
                  %a{href: '#'}
                    .widget-body
                      .pull-left.icon
                        %i.icon-comment.text-warning
                      
                      .pull-left.text
                        America Leannon commented Flatty with veeery long text.
                        %small.text-muted
                          1 hour ago

                %li.divider
                %li
                  %a{href: '#'}
                    .widget-body
                      .pull-left.icon
                        %i.icon-user.text-success
                      .pull-left.text
                        Jane Doe signed up
                        %small.text-muted
                          last week

                %li.divider
                %li
                  %a{href: '#'}
                    .widget-body
                      .pull-left.icon
                        %i.icon-inbox.text-error
                      .pull-left.text
                        New Order #001
                        %small.text-muted
                          1 year ago  
                %li.widget-footer
                  %a{href: '#'}
                    All notifications
            %li.dropdown.dark.user-menu
              %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                %span.user-name
                  = "#{current_user.first_name} #{current_user.last_name}"
                %b.caret
              
              %ul.dropdown-menu
                %li
                  %a{href: 'user_profile.html'}
                    %i.icon-user
                    Profile

                %li
                  %a{href: 'user_profile.html'}
                    %i.icon-cog
                    Settings
                  
                %li.divider
                %li
                  %a{href: 'sign_in.html'}
                    %i.icon-signout
                    Sign out

      #wrapper
        #main-nav-bg
        %nav#main-nav
          .navigation
            .search
              %form{action: 'search_results.html', method: 'get'}
                .search-wrapper
                  %input{value: "", class: "search-query form-control", placeholder: "Search...", autocomplete: "off", name: "q", type: "text"}
                  %button{class: 'btn btn-link icon-search', name: 'button', type: 'submit'}  
            %ul.nav.nav-stacked
              %li.active
                %a{href: 'index.html'}
                  %i.icon-dashboard
                  %span
                    Dashboard
              %li
                %a{class: "dropdown-collapse", href: "#"}
                  %i.icon-edit
                  %span
                    Forms
                  %i.icon-angle-down.angle-down            
                %ul.nav.nav-stacked
                  %li
                    %a{href: 'form_styles.html'}
                      %i.icon-caret-right
                      %span
                        Form styles and features
                  %li
                    %a{href: 'form_components.html'}
                      %i.icon-caret-right
                      %span
                        Form components
                  %li
                    %a{href: 'validations.html'}
                      %i.icon-caret-right
                      %span
                        Validations
                  %li
                    %a{href: 'wizard.html'}
                      %i.icon-caret-right
                      %span
                        Wizard
              %li
                %a{class: 'dropdown-collapse', href: '#'}
                  %i.icon-tint
                  %span
                    UI Elements & Widgets
                  %i.icon-angle-down.angle-down
                %ul.nav.nav-stacked
                  %li
                    %a{href: 'ui_elements.html'}
                      %i.icon-caret-right
                      %span
                        UI Elements
                  %li
                    %a{href: 'widgets.html'}
                      %i.icon-caret-right
                      %span
                        Widgets
              %li
                %a{href: 'buttons_and_icons.html'}
                  %i.icon-star
                  %span
                    Buttons & Icons
              %li
                %a{class: 'dropdown-collapse', href: '#'}
                  %i.icon-cogs
                  %span
                    Components
                  %i.icon-angle-down.angle-down
                
                %ul.nav.nav-stacked
                  %li
                    %a{href: 'charts.html'}
                      %i.icon-bar-chart
                      %span
                        Charts
                  %li
                    %a{href: 'address_book.html'}
                      %i.icon-envelope
                      %span
                        Address book                 
                  %li
                    %a{href: 'chats.html'}
                      %i.icon-comments
                      %span
                        Chats                  
                  %li
                    %a{href: 'filetrees.html'}
                      %i.icon-list-ul
                      %span
                        File trees
                  %li
                    %a{href: 'fileupload.html'}
                      %i.icon-file
                      %span
                        Fileupload
                  %li
                    %a{href: 'todo.html'}
                      %i.icon-list-alt
                      %span
                        Todo list
                  %li
                    %a{href: 'wysiwyg.html'}
                      %i.icon-paste
                      %span
                        WYSIWYG
              %li
                %a{href: 'tables.html'}            
                  %i.icon-table
                  %span
                    Tables                       
              %li
                %a{class: 'dropdown-collapse', href: '#'}
                  %i.icon-book
                  %span
                    Example pages
                  %i.icon-angle-down.angle-down
                
                %ul.nav.nav-stacked
                  %li 
                    %a{ href: 'invoice.html'}
                      %i.icon-money
                      %span
                        Invoice
                    
                  
                  %li
                    %a{ href: 'gallery.html'}
                      %i.icon-picture
                      %span
                        Gallery
                    
                  
                  %li
                    %a{ href: 'timeline.html'}
                      %i.icon-time
                      %span
                        Timeline
                    
                  
                  %li
                    %a{ href: 'pricing_tables.html'}
                      %i.icon-table
                      %span
                        Pricing tables
                    
                  
                  %li
                    %a{ href: 'user_profile.html'}
                      %i.icon-user
                      %span
                        User profile
                    
                  
                  %li
                    %a{ href: 'err404.html', target: '_blank'}
                      %i.icon-question-sign
                      %span
                        404 Error
                    
                  
                  %li
                    %a{ href: 'err500.html', target: '_blank'}
                      %i.icon-cogs
                      %span
                        500 Error
                    
                  
                  %li
                    %a{ href: 'sign_in.html', target: '_blank'}
                      %i.icon-signin
                      %span
                        Sign in
                    
                  
                  %li
                    %a{ href: 'faq.html'}
                      %i.icon-bullhorn
                      %span
                        FAQ
                    
                  
                  %li
                    %a{ href: 'orders.html'}
                      %i.icon-inbox
                      %span
                        Orders
                    
                  
                  %li 
                    %a{ href: 'search_results.html'}
                      %i.icon-search
                      %span
                        Search results
                    
                  
                  %li
                    %a{ href: 'blank.html'}
                      %i.icon-circle-blank
                      %span
                        Blank page
                    
                  
                
              
              %li
                %a{class: 'dropdown-collapse', href: '#'}
                  %i.icon-cog
                  %span
                    Layouts
                  %i.icon-angle-down.angle-down
                
                %ul.nav.nav-stacked
                  %li
                    %a{href: 'closed_navigation.html'}
                      %i.icon-caret-right
                      %span
                        Closed navigation
                    
                  
                  %li
                    %a{href: 'fixed_header.html'}
                      %i.icon-caret-right
                      %span
                        Fixed header
                    
                  
                  %li
                    %a{ href: 'fixed_navigation.html'}
                      %i.icon-caret-right
                      %span
                        Fixed navigation
                    
                  
                  %li
                    %a{ href: 'fixed_navigation_and_header.html'}
                      %i.icon-caret-right
                      %span
                        Fixed navigation & header

              %li
                %a{ href: 'email_templates.html'}
                  %i.icon-mail-reply
                  %span
                    Email templates
                
              
              %li
                %a{class: 'dropdown-collapse', href: '#'}
                  %i.icon-folder-open-alt
                  %span
                    Four level dropdown
                  %i.icon-angle-down.angle-down
                
                %ul.nav.nav-stacked
                  %li
                    %a{class: 'dropdown-collapse', href: '#'}
                      %i.icon-caret-right
                      %span
                        Second level
                      %i.icon-angle-down.angle-down
                    
                    %ul.nav.nav-stacked
                      %li
                        %a{class: 'dropdown-collapse', href: '#'}
                          %i.icon-caret-right
                          %span
                            Third level                          
                          %i.icon-angle-down.angle-down
                        %ul.nav.nav-stacked
                          %li>
                            %a{href: '#'}
                              %i.icon-caret-right
                              %span
                                Fourth level                          
                          %li
                            %a{ href: '#'}
                              %i.icon-caret-right
                              %span
                                Another fourth level

        %section#content
          .container
            .row#content-wrapper
              = yield
            %footer#footer
              .footer-wrapper
                .row
                  .col-sm-6.text
                    Copyright © 2014 Ocutec
                  .col-sm-6.buttons
                    %a{class: "btn btn-link", href: "#"}
                      Preview
                    %a{class: "btn btn-link", href: "#"}
                      Purchase











       
